.add_clock {
  display: block;
  padding: 0.3rem 1rem;
  margin: auto;
  margin-top: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.custom-clocks {
  display: flex;
  margin-top: 5rem;
  gap: 2rem;
  flex-wrap: wrap;
}
